:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
    --grafite: #404040;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
}

.page-content {
    background: var(--grafite);
    position: relative;
    z-index: -1;
}

.block {
    color: var(--branco);
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***** TAB BAR *****/

.toolbar {
    height: 100px;
    background: var(--preto);
}

.tab-link {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

.toolbar-inner .link {
    flex: 1;
    color: var(--verde);
    font-size: 16px;
}

.toolbar-inner .link:not(.active) {
    color: var(--branco);
    font-size: 10px;
}

.toolbar-inner .link i {
    font-size: 28px;
}

/**** NAV BAR ****/
.navbar-container {
    background: var(--preto);
    height: 100px;
    position: relative;
    z-index: -1;
}

.nb-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--branco);
}

.nb-title span {
    color: var(--verde);
    font-weight: 400;
}

.navbar-inner i {
    font-size: 25px;
    
}

.navbar-bg {
    background: var(--preto);
    
}

/**** Conteudo Resumo *****/
.saldo-mes-container {
    width: 100%;
    height: 100px;
}

.saldo-mes-card {
    background: var(--gelo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 1px solid var(--grafite);
    border-radius: 5px;
    box-shadow:1px 1px 5px rgba(0.0, 0.0, 0.0, 0.5);
}

.saldo-mes-valor {
    color: var(--verde);
    font-weight: bold;
    font-size: 42px;
}

.saldo-mes-data {
    color: var(--grafite);
    font-size: 12px;
}

.saldo-mes-titulo {
    font-size: 16px;
}